{% extends 'baseNavbar.html' %}

{% block content %}
<div class="wrapper">
    <h2>Change Password</h2>
    <div class="content">
        <div class="contanier">
            <form action="changepassword" id="form" method="post" novalidate>
                {%csrf_token%}
                <input class="form-control" type="hidden" name="empid" value="{{ request.session.empid }}" required>
                

                <label for="">New Password</label>
                <input type="password" name="password" id = "password" placeholder="Enter new password" onkeydown="empPassword()" required>
                <span id="txtPassword"></span>

                <br>
                <label for="">Confirm Password</label>
                <input type="password" name="passwordc" placeholder="Reenter password" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    function empPassword(){
            var form = document.getElementById("form");
            var password = document.getElementById("password").value;
            var text = document.getElementById("txtPassword");

            var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;


            if (password.length < 8){
                form.classList.add("invalid");
                form.classList.remove("valid");
                text.innerHTML = "password lenght must be 8 character"
                text.style.color = "#ff0000"
            }else if(password.search(/[0-9]/) == -1){
                form.classList.add("invalid");
                form.classList.remove("valid");
                text.innerHTML = "Atleast 1 numeric value must be enter"
                text.style.color = "#ff0000"
            }
            else if(password.search(/[a-z]/) == -1){
                form.classList.add("invalid");
                form.classList.remove("valid");
                text.innerHTML = "Atleast 1 small letter  must be enter"
                text.style.color = "#ff0000"
            }
            else if(password.search(/[A-Z]/) == -1){
                form.classList.add("invalid");
                form.classList.remove("valid");
                text.innerHTML = "Atleast 1 Upper letter  must be enter"
                text.style.color = "#ff0000"
            }
            else{
                form.classList.add("valid");
                form.classList.remove("invalid");
                text.innerHTML = "password is valid"
                text.style.color = "#00ff00"
            }
        }

</script>





{% endblock %}