<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%  static 'leave.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <title>admin leave</title>
</head>
<body>



    <div class="quickButtons">

        <div class="positions">
               
            <h2> Avaliable Leave Types : </h2>
            <h3>  {{leave_type_count}}  </h3>
        </div>

        <div class="positions">
            <h2> Total No of Employees : </h2>
            <h3> {{count}} </h3>
            
        </div>

        <div class="positions">
            <h2> Pending Applicartions : </h2>
            <h3> {{pendingCount}} </h3>
        </div>
        <div class="positions">
            <h2> Rejected Applicartions : </h2>
            <h3> {{reject}} </h3>
        </div>

    </div>


    <div class="adminDashboard">


        <div class="tableOne">
            <div class="table_header">
                <h3>All leave Applications</h3>   
                <div>
                    <a href="generatepdf" class="print"> <i class="fa fa-print" aria-hidden="true"></i>Print Details</a>
                </div>        
            </div>
    
            <div class="table_section">
                <table>
                    <thead>
                        <tr>
                            <th>Leave ID</th>
                            <th>Employee ID</th>
                            <th>Leave Type</th>
                            <th>Applied on</th>
                            <th>Reason</th>
                            <th>Current Status</th>  
                            <th>Action</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in leaveDetails %}
                        <tr>
                            <td>{{emp.id}}</td>
                            <td>{{emp.empid}}</td>
                            <td>{{emp.leaveType}}</td>
                            <td>{{emp.date}}</td>
                            <td>{{emp.reason}}</td>
                            <td>{{emp.status}}</td>
                            <td>
                                <a href=""class = "delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tableTwo">
            <div class="table_header">
                <h3>Employee leave Details</h3>           
            </div>
    
            <div class="table_section">
                <table>
                    <thead>
                        <tr>
                            <th>Leave ID</th>
                            <th>Employee ID</th>
                            <th>Leave Type</th>
                            <th>Applied on</th>
                            <th>Reason</th>
                            <th>Current Status</th>  
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in pending_list %}
                        <tr>
                            <td>{{emp.id}}</td>
                            <td>{{emp.empid}}</td>
                            <td>{{emp.leaveType}}</td>
                            <td>{{emp.date}}</td>
                            <td>{{emp.reason}}</td>
                            <td>{{emp.status}}</td>
                            
                            
                            <td><a href="{% url 'approve_leave' emp.id %}" class="update"> <i class="fa fa-check-circle" aria-hidden="true">approve</i></a>
                                <a href="{% url 'reject_leave' emp.id %}"class = "delete"><i class="fa fa-ban" aria-hidden="true">Reject</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="adminDashboard">


        <div class="tableOne">
            <div class="table_header">
                <h3>Avaliable Leave types</h3>  
                <div>
                    <a href="register"class = "addNew"><i class="fa fa-plus" aria-hidden="true"></i>Add New</a>
                </div>         
            </div>
    
            <div class="table_section">
                <table>
                    <thead>
                        <tr>
                            <th>Leave type ID</th>
                            <th>Leave Type</th>
                            <th>Description</th>  
                            <th>Action</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave in leave_type %}
                        <tr>
                            <td>{{leave.id}}</td>
                            <td>{{leave.leave_type}}</td>
                            <td>{{leave.description}}</td>
                            <td>
                                <a href="" class="update"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href=""class = "delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>

       

    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
</body>
</html>